.drawerMobile,
.drawerDesktop,
.drawerPaper {
  width: 256px;
}

.drawerDesktop {
  display: none;
}

@media (min-width: 600px) {
  .drawerDesktop {
    display: block;
  }

  .drawerToggle {
    display: none !important;
  }

  .wrapper {
    margin-left: 256px;
  }
}
